*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 50px;
    background-image: url('https://imgs.search.brave.com/MPwlZpOFuc_oGLJ39fzWo1jZ5PGPCBRV4aQXU6Zr9ZQ/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4z/LTl3U0xXcGM1V0Vv/YmMzYWRacExBSGFF/byZwaWQ9QXBp');
    background-size: cover;
    background-position: center;
    
}
.clock {
    
    height: 100%;
    width:100%;
    /* border: 5px solid black; */
    /* outline: 5px solid black;
    outline-offset: -20px; */
    position: relative;
    background-image: url('https://imgs.search.brave.com/MPwlZpOFuc_oGLJ39fzWo1jZ5PGPCBRV4aQXU6Zr9ZQ/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4z/LTl3U0xXcGM1V0Vv/YmMzYWRacExBSGFF/byZwaWQ9QXBp');
    background-size: cover;
    background-position: center;
    
}

.time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    
    
}

span {
    color: rgb(2, 0, 3);
}


button {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 45%;
    position: absolute;
    font-size: larger;
    font-weight: 600;
    background-image: radial-gradient(hsla(0, 0%, 0%, 0.575),white);
}
#start {
    position: absolute;
    top:70%;
    left:40%;
    visibility: visible;
} 

#stop{
    position: absolute;
    top:70%;
    left:40%;
    visibility: hidden;
} 

#reset{
    visibility: hidden;
    position: absolute;
    top:70%;    
    left:50%;
}